.photoCon{
  padding: 50px;
  font-style: italic;
}

.info{
    background-color: aliceblue;
    border: double;
    text-align: center;
    padding: 10px;
    box-shadow: 2px 5px 10px;
    
}
.zoom {
  transition: transform .01s;
  width: 1200px;
  height: 1000px;
  /* border: 1px solid; */
  padding: 10px;
  box-shadow: 5px 10px 18px
}

.zoom:hover {
  /* -ms-transform: scale(1.5); IE 9 */
  -webkit-transform: scale(1.0); /* Safari 3-8 */
  transform: scale(1.1); 
}